
* {
    color: #f86;
}

.skin-blue-light .sidebar-menu>li:hover>a, .skin-blue-light .sidebar-menu>li.active>a {
    color: #FFF;
    background: #426f75;
}

.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
    background-color: #090a0a85;
}

.skin-blue-light .sidebar a {
    color: #bebad2;
}

.box.box-solid.box-success>.box-header {
    color: #ffffff;
    background: #44aaeeb8;
    background-color: #666;
}

.content-wrapper, .right-side {
    background-color: #353c39;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff8c;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background: #444;
}

.rt-filter {
    padding: 5px 7px;
    width: 100%;
    color: inherit;
    background-color: #666;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    outline-width: 0;
    outline-style: solid;
}

.rt-search {
    display: block;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 8px;
    padding: 5px 7px;
    color: inherit;
    background-color: #666;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    outline-width: 0;
    outline-style: solid;
    font-family: inherit;
    font-size: inherit;
}

.rt-search-placeholder {
    color: #f86;
}

#genetable td, th {
    color: #d2d2d2;
}

#scgene {
    background-color: #666;
}

div#driver-popover-item {
    background: #999;
}

text.highcharts-title {
    color: #d2d2d2;
    fill: #d2d2d2;
}

.highcharts-axis-label.highcharts-xaxis-label {
    color: #d2d2d2;
    fill: #d2d2d2;
}

.bootstrap-select .dropdown-menu.inner {
    background: #666666;
}

.bootstrap-select .dropdown-menu {
    background: #666666;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    background: #666;
}

.btn:not(.btn-raised), .btn:not(.btn-raised).btn-default, .input-group-btn .btn:not(.btn-raised), .input-group-btn .btn:not(.btn-raised).btn-default {
    color: #d2d2d2;
    background: #666666;
}

.tippy-tooltip.blue-theme {
    background: darkslategrey;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #d2d6de;
}

.skin-blue-light a, .skin-blue-light a:hover, .skin-blue-light a:focus {
    color: #d2d6de;
}

b, strong {
    font-weight: 700;
    color: #d2d6de;
}

td, th {
    color: black;
}

.main-footer {
    background: #e3dfdf;
}

.navbar, .navbar.navbar-default {
    background-color: #666;
    border-radius: 10px;
}

.ReactTable {
    height: 100%;
    background-color: #353c39;
}
